
PDFGenerator/.vs/PDFGenerator/DesignTimeBuild/.dtbcache.v2
PDFGenerator/.vs/PDFGenerator/DesignTimeBuild/.dtbcache
PDFGenerator/.vs/PDFGenerator/v15/.suo
PDFGenerator/.vs/PDFGenerator/v15/Server/sqlite3/db.lock
PDFGenerator/.vs/PDFGenerator/v15/Server/sqlite3/storage.ide
PDFGenerator/.vs/PDFGenerator/v15/Server/sqlite3/storage.ide-shm
PDFGenerator/.vs/PDFGenerator/v15/Server/sqlite3/storage.ide-wal
PDFGenerator/.vs/PDFGenerator/v16/.suo
